{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'todolist/css/todo_list/todo_list.css' %}">
<h1>To-Do list</h1>
<form method="GET">
    <a class="mr-4">{{ filter.form}}</a>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Done</th>
          <th scope="col">Priority</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
{% for todo in filter.qs %}
    <tbody> 
        <tr>
            {% if todo.done %}
            <th><strike>{{ todo.id }} </strike></th>
            <th><strike>{{ todo.tittle }}</strike></th>
            <th>
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultCheckedDisabled2" checked disabled>
                    <label class="custom-control-label" for="defaultCheckedDisabled2"></label>
                    </div>     
            </th>
            <th><strike>{{ todo.priority.name }}</strike></th>
            <th> <a href="{% url 'todo_update' todo.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                <a href="{% url 'todo_delete' todo.id%}"><button type="button" class="btn btn-outline-danger">X</button></a>
                <a href="{% url 'todo_asing' todo.id%}"><button type="button" class="btn btn-outline-success">Asing</button></a>
            </th>
            {% else %}
            <th>{{ todo.id }} </th>
            <th>{{ todo.tittle }}</th>
            <th> <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultUncheckedDisabled2" disabled>
                    <label class="custom-control-label" for="defaultUncheckedDisabled2"></label>
                    </div>      
            </th>
            <th>{{ todo.priority.name }}</th>
            <th> <a href="{% url 'todo_update' todo.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                <a href="{% url 'todo_delete' todo.id%}"><button type="button" class="btn btn-outline-danger">X</button></a>
                <a href="{% url 'todo_asing' todo.id%}"><button type="button" class="btn btn-outline-success">Asing</button></a>
            </th>
             {% endif %}
           
    </tbody>

{% empty %}
    <li>No todo yet.</li>
{% endfor %}
</table>
</ul>

{% include "_pagination.html" %}
<br>
<a href="{% url 'todo_create' %}">
<button type="button" class="btn btn-success">Crear</button>
</a>
<a href ="{% url 'todo_logout' %}"> 
<button type="button" class='Logout'>Logout</button>
</a>
