h1 {
    text-align: center;
    font-weight: 300;
  }
  table {
    border-collapse: collapse;
    table-layout: auto;
    width: 30%; 
  }
  
  table, th, td {
    border: 1px transparent black;
  }
.Logout{
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    background-color: rgb(191, 15, 15);
    color: white;
    float: right;
}